@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #fff;
    background-color: #83c2b7;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: #00816B;
}

.tab-btn:hover {
    background-color: #9bd6a3;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: #00816B;
    border-radius: 0px 0px 8px 8px;
    padding: 5px;
    justify-content: center;
}

.content-img {
    width: 50%;
    height: 250px;
}

.infos{
    justify-content: center;
    align-items: center;
}