<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verde Vivo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="shortcut icon" href="../assets/img/logo 1.svg" type="image/x-icon">
</head>
<body>

<div class="cabecalho">
    <img id="logo" src="../assets/img/logo 1.svg" alt="logo do site" >
    
    <a class="btn btn-outline btn-sm" href="login.php">Entrar</a>
</div>

<div class="container">
    <div class="texto">
        <h1 id="titulo_principal">Verde <br>Vivo</h1>
        <h6 id="slogan">A tecnologia que cuida das suas plantas e do planeta</h6>
    </div>
    <img id="umidade" src="../assets/img/umidade.svg" alt="umidade">
</div>

<div class="container2">
    <div class="parte2">
        <h3>O que somos?</h3>
        <p>Você gosta de plantas, mas não sabe quando regá-las? Você quer economizar água e contribuir para o meio ambiente? Então você precisa conhecer o Verde Vivo, é um projeto que usa um Arduino e um sensor de umidade do solo para monitorar a hidratação das plantas e avisar o usuário pelo site quando elas precisam ser regadas. Assim, você pode cuidar das suas plantas de forma inteligente e sustentável, economizando água e preservando a nimatureza.</p>
    </div>
</div>    

<div class="container3">
    <div class="parte3">
        <h3>Como vou cadastrar minha planta?</h3>
        <p>Após feito o login, com o suporte avançado de inteligência artificial, nosso sistema oferece assistência personalizada para o cuidado das suas plantas. Obtenha informações detalhadas, como a quantidade ideal de água necessária para manter suas plantas saudáveis. Embora nossa IA não identifique plantas por imagens, ela fornece orientações precisas com base em descrições textuais. Após consultar as informações, você será direcionado para  uma aba dedicada onde poderá realizar seu cadastro de forma rápida e segura.</p>
    </div>
</div>

<div class="container4">
    <div>
        <h3>Fundadores</h3>
    </div>
    <div class="fundador">
        <img src="../assets/img/henrique.jpeg" alt="Henrique">
        <div class="nome">Henrique Gomes de Matos</div>
    <div class="cargo">Analista e Desenvolvedor de Sistemas FullStack</div>
    </div>
    <div class="fundador">
        <img src="../assets/img/luisa.jpeg" alt="Luisa">
        <div class="nome">Luisa V. Aquino Nascimento</div>
    <div class="cargo">Analista de Procurement</div>
    </div>
    <div class="fundador">
        <img src="../assets/img/paulo.jpeg" alt="Paulo">
        <div class="nome">Paulo Henrique A. Santana</div>
    <div class="cargo">Analista e Desenvolvedor de Sistemas Back-End</div>
    </div>
    <div class="fundador">
        <img src="../assets/img/logo 1.svg" alt="Pedro">
        <div class="nome">Pedro Akira S. Matoba</div>
    <div class="cargo">Analista de Sistema Pedagógico</div>
    </div>
    <div class="fundador">
        <img src="../assets/img/weslley.jpeg" alt="Weslley">
        <div class="nome">Weslley S. de Sousa</div>
    <div class="cargo">Administrador</div>
    </div>
    
</div>



<div vw class="enabled">
    <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
</div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

<footer>
    <p>© 2024 Verde Vivo. Todos os direitos reservados.</p>
</footer>
</body>
</html>