<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/card.css">
    <title>Card</title>
</head>
<body>
    <div class="position-card">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Como Usar a IA?</p> 
                    <div>
                        <img class="icon" src="../assets/img/icon-ia.svg" alt="icone de inteligencia artificial">
                    </div>
                </div>
                <div class="flip-card-back">
                    <p class="title">Comandos:</p>
                    <div class="descricao">
                        <p>Identifique o tipo da planta:<br> “Qual é o tipo da [nome da planta]?”<br></p>
                        <p>Determine a qualidade do solo ideal:<br> “Qual é a qualidade do solo ideal para a [nome da planta]?”</p>
                        <p>ou</p>
                        <p>Determine a qualidade do solo ideal:<br> “Qual a porcentagem do solo ideal para [nome da planta]?”</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Como cadastro a planta?</p>
                    <div>
                        <img class="icon" src="../assets/img/icon-planta.svg" alt="icone de inteligencia artificial">
                    </div>
                </div>
                <div class="flip-card-back">
                    <p class="title">Para o cadastro:</p>
                    <div class="descricao descricao2">
                        <p>Acesse a aba de cadastro de planta.</p>
                        <p>Insira o nome, tipo e descrição.</p>
                        <p>A descrição a IA fornecerá informações<br> sobre a qualidade ideal da água para a planta.</p>
                        <p>Copie e cole no campo descrição</p>
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Medição de Umidade do Solo</p>
                    <div>
                        <img class="icon" src="../assets/img/icon-umidade.svg" alt="icone de inteligencia artificial">
                    </div>
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                    <p>Leave Me</p>
                    <a href="#">Entar</a>
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>